<!doctype html>
<html lang="en">

<head>


  {{>headerLinks}}

</head>

<body>

  <!-- navbar starting -->
  {{>navBar}}



  <!-- main header -->

  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 mx-auto col-12">
        <div class="row">


          <!-- right side div -->


          <!-- left side div -->
          <div class="col-md-10 mx-auto col-12 main_header_left align-items-center">

            <figure>
              <img style="width: 100%;" class="img-fluid errImg" src="images/404.png" title="Sheikh Antor"
                alt="Sheikh Antor">

            </figure>

            <h1 style="color: red;">{{opss}}</h1>
            <a href="/"><button>BACK TO HOME</button></a>
          </div>

        </div>
      </div>

    </div>

  </div>


  <!-- Footer code -->
   {{>icons}}
  {{>footer}}



</body>

</html>