@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;

}

:root {
    --main-bg: #1e272e;
    --main-color: #0097e6;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    ;
}

.row {
    margin: 0;
}


.main_menu {
    background-color: var(--main-bg);
}

.navbar {
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem 0;
}

.navbar li {
    margin-left: 2rem;
}

.navbar a {
    color: #fff;
    font-size: 1.8rem;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar-toggler-icon {
    background: gray;
}

.fa-snowflake {
    transition: all linear;
    animation: rot 2s linear infinite;
    color: var(--main-color);
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* main header styleing */


.main_header_left {
    display: flex;
    justify-content: center;
    height: 50rem;
    flex-direction: column;
    align-items: flex-start;

}

.main_header_left p {
    font-size: 2rem;
}

.main_header_left h1 {
    font-size: 3rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
    ;
}

.main_header_left .text-clr {
    /* color: var(--main-color); */
    color: blue;
}

.main_header_left button {
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000 !;
    outline: none;
    box-shadow: 0 8px 6px -6px var(--main-color) !important;
    cursor: pointer;
}

/* .main_header_left button:hover {
    box-shadow: 0 8px 6px -6px var(--main-color) !important
} */

.main_header_right {

    display: flex;
    justify-content: center;
    height: 50rem;
    flex-direction: column;
    align-items: flex-start;

}

.main_header_right figure img {
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.3))
}



/* . weather app */

.main_content {
    width: 100%;


}

.main_content #cityName {
    position: relative;
    border-radius: 2rem;
    padding: .5rem 3rem;
    /* background: #000; */
    color: blue;
    font-size: 1.8rem;
    border: 2px solid blue;
}

::placeholder {
    /* background: #000; */
    color: blue !important;
    font-size: 1.8rem;
     
}


.main_content #submitBtn {
    position: absolute;
    right: 2rem;
    top: 3px;
    padding: 1rem 3rem;
    background:blue;
    ;
    border-radius: 1rem;
    color: #ffff;
    font-weight: 400;
    letter-spacing: 2px;
    border: none;
    outline: none;
    transition: .3s;
}

.temp_form input[type="submit"]:hover {
   
      font-weight: 700;
}

.tempInformation {
    width: 50rem;
    margin: auto;
    min-height: 20rem;
    background-color: #323555;
    border-radius: 1rem;
    /* padding: 1rem; */
    font-family: "Roboto", sans-serif;
}

.top_leyar {
    width: 100%;
    height: 20%;
    background: #0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem 1rem;
    font-size: 1.6rem;
    color: #ffff;

}

.top_layer p {
    color: #ffff;
    font-weight: 300;
    padding: 2rem 0;
}

.main_layer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}


.main_layer #city_name {
    padding: 2rem 0;
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
}

.main_layer .midle_layer {
    display: flex;
    justify-content: space-around;
    color: #fff;
}



.main_layer .midle_layer p,
.main_layer .midle_layer .fa {
    font-size: 5rem;
    font-weight: 900;
    ;
}

.fa {
    color: #0097e6;
}

sup {
    font-size: 4rem;
    margin-top: -1.2rem;
}







/* footer code */
footer {
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}

footer p {
    text-align: center;
    color: #ffff;
    margin: 0;
    line-height: 5rem;
    font-size: 1.4rem;
}

@media(max-width:768px) {
    .main_header_left {
        height: auto;
        margin: 5rem 0;
    }

    .main_header_right {
        height: auto;
        margin-top: 3rem;
    }

    .tempInformation {
        width: auto;
    }

    .main_layer .midle_layer p,
    .main_layer .midle_layer .fa {
        font-size: 3.5rem;

    }

    sup {
        font-size: 4rem;
        margin-top: -1.5rem;
    }
}











/* js code somthing */

.dataHide {
    visibility: hidden !important;
}